%h2
  About this Project
.alert.alert-block
  %h4.alert-heading this a first public release
  This release is in &#39;draft&#39; state...nobody is perfect!
  %dl
    %dt This Version:
    %dd= @version
    %dt Tested with PassiveDNS version
    %dd 0.5
  %p
    if you find issues, have suggestions or any feedback, please submit them on
    %a{:href=>"https://github.com/phunold/pdns-ui", :target=>"_blank", :rel=>"tooltip", :title=>"https://github.com/phunold/pdns-ui"} https://github.com
  %hr
  %p Thank you.
  %p PH.
