%h2 About the Project
%h3 Version: 0.1draft
%p this a first draft version and has been test for
%i PassiveDNS version 0.5
%hr
%p if you find issues or have suggestions, please submit them on github
%a{:href=>"http://githuc.om/phunold/pdns-ui", :target=>"_blank"}
%hr
%p Thank you.
%p PH.
