%h2 About the Project
%h3 Version: 0.1draft
%hr
%p
  this a first draft version and has been test for
  %i PassiveDNS version 0.5
%hr
%p
  if you find issues or have suggestions, please submit them on
  %a{:href=>"https://github.com/phunold/pdns-ui", :target=>"_blank"} https://github.com
%hr
%p Thank you.
%p PH.
