%h2 Advanced Search
%form{:action=>"/advanced_search_result", :method=>"get"}
  %fieldset
    %ol
      %li
        %label{:for=>"query"} Query
        %input{:type=>"text", :size=>"12", :name=>"query", :value=>"any"}
      %li
        %label{:for=>"answer"} Answer
        %input{:type=>"text", :size=>"12", :name=>"answer", :value=>"any"}
      %li
        %label{:for=>"maptype"} Query Type
        %select{:name=>"maptype"}
          %option{:value=>""} any
          - for m in @maptypes
            %option{:value=>"#{m[:MAPTYPE]}"} #{m[:MAPTYPE]}
      %li
        %label{:for=>"rr"} CLASS
        %select{:name=>"rr"}
          %option{:value=>""} any
          - for r in @rrs
            %option{:value=>"#{r[:RR]}"} #{r[:RR]}
      %li
        %label{:for=>"first_seen"} First seen before
        %input{:type=>"text", :size=>"12", :name=>"first_seen", :value=>"YYYY-MM-DD"}
      %li
        %label{:for=>"last_seen"} Last seen after
        %input{:type=>"text", :size=>"12", :name=>"last_seen", :value=>"YYYY-MM-DD"}
    %input{:type=>"submit", :name=>"submit", :value=>"search"}
