!!!
%html
  %head
    %title PassiveDNS :: SimpleUI
    %link{:href=>"/stylesheet.css",:type=>"text/css",:rel=>"stylesheet"}
    %script{:src=>"/js/jquery.tools.min.js",:type=>"text/javascript"}
    %script{:src=>"/js/help.js",:type=>"text/javascript"}
  %body
    #container
      %h1 PassiveDNS
      #navbartooltip.tooltip &nbsp;
      .menu
        %ul
          %li
            %a{:href=>"/"} List
          %li
            %a{:href=>"/summary"} Summary
          %li
            %a{:href=>"/advanced_search"} Advanced Search
          %li
            %a{:href=>"#"} &nbsp;
          %li
            %a{:href=>"/about"} About
      .searchbar
        %p
          Total Records: #{@total}
        %form{:action=>"/search_result", :method=>"get"}
          %input{:type=>"text", :size=>"8", :name=>"search", :value=>"search", :onfocus=>"value=''"}
          &nbsp;
          %input{:type=>"image", :src=>"/images/zoom.png", :name=>"submit", :value=>"search"}
      =yield
