.modal.hide#myModal
  .modal-header
    %button.close{:type=>"button", "data-dismiss"=>"modal"}
    %h3 OnDemand DNS lookup
  .modal-body
    .alert.alert-info
      #{@meta} &#39;#{@lookup}&#39;
    %pre
      = @result
  .modal-footer
    %a#btn{:href=>"#", "data-dismiss"=>"modal"} Close
