%h1 This is just the header

#demo
  %img{:src=>"images/help.png", :title=>"The tooltip text #1"}
  %img{:src=>"images/help.png", :title=>"The tooltip text #2"}
  %img{:src=>"images/help.png", :title=>"The tooltip text #3"}


%h1
  This is header
  %span.help{:title=>"hard test with h1.help"} &nbsp;

%span.help{:title=>"please work with span.help"} This is just a span tooltip
