%h3
  %span.tooltip{:title=>"This is how we do it"} This is a header
 
%span.tooltip{:title=>"tip on a link!"}
  %a{:href=>"#"} This is the link

This is just the icon: &nbsp;
%span.tooltip{:title=>"Just the help icon"} &nbsp;

%p &nbsp;
%p &nbsp;
%h3 without effects...
%a{:href=>"#", :title=>"This is just a tooltip"}

