%h1 This is just the header

#demo
  %img{:src=>"images/help.png",:title=>"TEST tooltip here things and as such valuable"}
  %img{:src=>"images/help.png",:title=>"TEST tooltip here things and as such valuable"}
  %img{:src=>"images/help.png",:title=>"TEST tooltip here things and as such valuable"}
  %img{:src=>"images/help.png",:title=>"TEST tooltip here things and as such valuable"}
  %img{:src=>"images/help.png",:title=>"TEST tooltip here things and as such valuable"}
  %span{:title=>"test for me"}
    foo bar stuff goes here...
  %span{:title=>"test for me"}
    foo bar stuff goes here...
  %span{:title=>"test for me"}
    foo bar stuff goes here...
%img#demo{:src=>"images/help.png",:title=>"test for me"}
%img#demo{:src=>"images/help.png",:title=>"test for me"}
